#nextBtn{
    padding: 0px;
    margin: 0% 0% 7.6923% 25%;
    width: 50%;
    height: 7.6923%;
    font-size: 5vw;
}

h3{
    width: 100%;
    height: auto;
    padding: 0px;
    margin: 0px;
    font-size: 1.5rem;
    text-align: center;
}